@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply bg-background overflow-x-hidden

}
.section-title{
  @apply text-5xl font-extrabold text-off-black;
}

/*  card styles */
.card{
  @apply bg-white rounded-xl shadow-lg w-full p-8;
}

.card-title{
  @apply text-2xl font-bold text-off-black;
}

/*  button styles */
.btn{
  @apply bg-primary text-white font-bold py-2 px-4 rounded-lg;
}

