@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  @apply text-off-black dark:text-zinc-50;
}
body {
  @apply bg-background dark:bg-zinc-950 overflow-x-hidden;
}
label {
  background: inherit;
}

/* Global Styles */

/* Landing Styles */

.landing-section {
  @apply lg:max-w-screen-lg lg:mx-auto p-4 md:p-0;
}

.landing-feature {
  @apply md:h-[50vh] h-min;
}

.feature-container {
  @apply h-screen landing-section landing-feature flex md:gap-0 gap-4;
}

.feature-title {
  @apply font-medium text-3xl md:text-start text-center;
}

.feature-header {
  @apply text-lg;
}
.feature-bullets-container {
  @apply text-lg text-gray-600 space-y-3;
}

.feature-bullet-container {
  @apply flex items-center gap-2;
}
.feature-bullet-point {
  @apply w-2 h-2 bg-secondary rounded-full;
}

.feature-text-container {
  @apply flex-1 flex flex-col items-start justify-center gap-6 px-8;
}

.feature-visual-container {
  @apply flex-1 flex items-center justify-center;
}

.feature-visual {
  @apply w-11/12 h-3/4 rounded-lg shadow-md flex items-center justify-center overflow-hidden;
}

/*  card styles */
.card {
  @apply m-0;
}

.card-title {
  @apply text-2xl font-bold text-off-black dark:text-zinc-50;
}

/*  button styles */
.btn {
  @apply bg-primary text-white font-bold py-2 px-4 rounded-lg
  hover:bg-secondary
  transition-colors duration-200 ease-in-out;
}

.btn-neutral {
  @apply font-bold py-2 px-4 rounded-lg;
}

.btn-alert {
  @apply btn-neutral !text-red-500 border-2 border-red-500;
}

/* Assignment Page Styles */

.assignment--input-header {
  @apply text-xl   font-semibold  block my-2;
}

input[type="checkbox"] {
  @apply relative float-left  h-[1.125rem] w-[1.125rem] appearance-none rounded-[0.25rem] border-[0.125rem] border-solid border-neutral-300 outline-none before:pointer-events-none before:absolute before:h-[0.875rem] before:w-[0.875rem] before:scale-0 before:rounded-full before:bg-transparent before:opacity-0 before:shadow-[0px_0px_0px_13px_transparent] before:content-[''] checked:border-primary checked:bg-primary checked:before:opacity-[0.16] checked:after:absolute checked:after:-mt-px checked:after:ml-[0.25rem] checked:after:block checked:after:h-[0.8125rem] checked:after:w-[0.375rem] checked:after:rotate-45 checked:after:border-[0.125rem] checked:after:border-l-0 checked:after:border-t-0 checked:after:border-solid checked:after:border-white checked:after:bg-transparent checked:after:content-[''] hover:cursor-pointer hover:before:opacity-[0.04] hover:before:shadow-[0px_0px_0px_13px_rgba(0,0,0,0.6)] focus:shadow-none focus:transition-[border-color_0.2s] focus:before:scale-100 focus:before:opacity-[0.12] focus:before:shadow-[0px_0px_0px_13px_rgba(0,0,0,0.6)] focus:before:transition-[box-shadow_0.2s,transform_0.2s] focus:after:absolute focus:after:z-[1] focus:after:block focus:after:h-[0.875rem] focus:after:w-[0.875rem] focus:after:rounded-[0.125rem] focus:after:content-[''] checked:focus:before:scale-100 checked:focus:before:shadow-[0px_0px_0px_13px_#3b71ca] checked:focus:before:transition-[box-shadow_0.2s,transform_0.2s] checked:focus:after:-mt-px checked:focus:after:ml-[0.25rem] checked:focus:after:h-[0.8125rem] checked:focus:after:w-[0.375rem] checked:focus:after:rotate-45 checked:focus:after:rounded-none checked:focus:after:border-[0.125rem] checked:focus:after:border-l-0 checked:focus:after:border-t-0 checked:focus:after:border-solid checked:focus:after:border-white checked:focus:after:bg-transparent dark:border-neutral-600 dark:checked:border-primary dark:checked:bg-primary dark:focus:before:shadow-[0px_0px_0px_13px_rgba(255,255,255,0.4)] dark:checked:focus:before:shadow-[0px_0px_0px_13px_#3b71ca];
}

/* Lucide Styles */
.lucide {
}

[data-theme="dark"] .lucide {
  color: white;
}

.hide-when-mobile {
  @apply hidden md:block;
}

.hide-when-desktop {
  @apply block md:hidden;
}

.event-class {
  background-color: tomato;
}
